* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 799px;
  padding: 94px 130px 95px;
  background-color: #3399cc;
  border: 14px solid #2b81ac;
}
.board {
  width: 539px;
  min-height: 331px;
}
.group1,
.group2,
.group3,
.group4 {
  display: flex;
  flex-direction: row;
}
.one {
  width: 265px;
  background-color: #3399cc;
}
.two {
  width: 131px;
  background-color: #33cccc;
}
.three {
  width: 132px;
  background-color: #996699;
}

.four,
.five,
.six,
.seven {
  width: 132px;
  background-color: #33cccc;
}

.four {
  background-color: #c24747;
}
.five {
  background-color: #e2674a;
}
.six {
  background-color: #ffcc66;
}
.seven {
  background-color: #99cc99;
}
.eight {
  width: 132px;
  background-color: #669999;
}
.nine {
  width: 265px;
  background-color: #cc6699;
}
.ten {
  width: 131px;
  background-color: #339966;
}
.eleven {
  width: 528px;
  background-color: #666699;
}
.town {
  text-align: center;
  min-height: 79px;
  border: 3px solid #ffffff;
  padding-top: 16px;
  padding-bottom: 19px;
  color: #ffffff;
}
p {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
}
span {
  margin-right: 4px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.weather {
  display: flex;
  justify-content: center;
}
